---
import { MAX_WIDTH } from "@/constants/max-width"

interface Props {
	nonMaxWidth?: boolean
	containerClassName?: string
	className?: string
	sectionName?: string
	title?: string
	description?: string
}

const {
	className,
	nonMaxWidth,
	containerClassName,
	description,
	sectionName,
	title,
} = Astro.props

const maxWidth = nonMaxWidth ? "none" : `${MAX_WIDTH}px`

const isHeader = sectionName || title || description
---

<section class:list={["w-full px-4 py-20 md:px-0", containerClassName]}>
	<div
		class:list={["mx-auto w-full", className]}
		style={`max-width: ${maxWidth}`}
	>
		{
			isHeader && (
				<header class="mx-auto mb-12 flex max-w-prose flex-col items-center gap-1 text-center">
					{sectionName && (
						<h2 class="mb-2 rounded bg-primary px-2 py-1 text-sm font-medium text-secondary">
							<slot name="icon" />
							<span class="ml-1">{sectionName}</span>
						</h2>
					)}
					<h3 class="text-balance text-5xl font-bold">{title}</h3>
					<p class="opacity-80">{description}</p>
				</header>
			)
		}

		<slot />
	</div>
</section>
